.create-question-dialog {
  md-textarea,
  md-input {
    width: 100%;
  }

  .action-buttons {
    margin-top: 20px;
  }

  .create-button {
    float: right;
  }

  md-radio-button {
    width: 100%;
  }
}