.mind-tree-question-item {
  width: 100%;

  .action-buttons {
    margin-top: 10px;
  }

  .question-tags {
    line-height: 60px;
  }

  .question-tag {
    background-color: gray;
    border-radius: 50px;
    padding: 8px;
    margin: 8px;
  }
}