.mind-tree-quiz {
  md-list-item {
    display: block;
    border-bottom: solid 1px lightgray;
    height: 100%;
  }

  mind-tree-quiz-item {
    width: 100%;
  }

  .submit-button{
    margin-top: 20px;
  }
}

.quiz-loader {
  height: 40px;
  width: 100%;
}